* {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.conteiner {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
}

.conteiner .container-fluid {
  background-color: white;
}

.conteiner .content {
  background-image: url(img/pen.svg);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position-x: right;
  background-position-y: bottom;
  text-align: center;
}

.conteiner .content .h1_content {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  margin-top: 46px;
  margin-left: 40px;
  font-size: 50px;
}

.conteiner .content .h1_content_2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: end;
  margin-right: 203px;
  font-size: 50px;
}

.conteiner .what_we_do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 48px;
  margin-bottom: 64px;
}

.conteiner .what_we_do .block {
  width: 320px;
  height: 480.13px;
  background: #FFFFFF;
  -webkit-box-shadow: 40px 20px 40px #F2F4F6;
          box-shadow: 40px 20px 40px #F2F4F6;
  border-radius: 10px;
}

.conteiner .what_we_do .block .block_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  opacity: 0.6;
  text-align: left;
}

.conteiner .what_we_do .block .block_text .list_text {
  margin-top: 32px;
}

.conteiner .what_we_do .block .url_block {
  margin-top: 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  color: black;
  margin-left: 111px;
}

.conteiner .promo .promo_h1 {
  text-align: center;
  margin-top: 32px;
}

.conteiner .promo .d-block w-100 {
  height: 80px;
}

.conteiner .footer {
  background-color: #F1F2F2;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
}

.conteiner .footer .address {
  margin-left: 68px;
}

.conteiner_contact {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
}

.conteiner_contact .container-fluid {
  background-color: white;
}

.conteiner_contact .forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner_contact .forma .form {
  margin-left: 48px;
  margin-bottom: 62px;
  margin-top: 143px;
}

.conteiner_contact .forma .form .enter_text {
  width: 237px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.conteiner_contact .forma .form .enter_message {
  border-radius: 10px;
}

.conteiner_contact .forma .form .button_submit {
  width: 237px;
  border-radius: 10px;
}

.conteiner_contact .footer_contact {
  background-color: #F1F2F2;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
}

.conteiner_contact .footer_contact .address {
  margin-left: 68px;
  margin-right: 32px;
}
/*# sourceMappingURL=style.css.map */